<div class="nav_list">
    <a href="{% url 'admin_staff:users' %}" class="nav_link {% if 'user' in request.resolver_match.url_name %} active {% endif %}">
        <i class='bx bx-user nav_icon'></i>
        <span class="nav_name">Пользователи</span>
    </a>
    <a href="{% url 'admin_staff:categories' %}" class="nav_link {% if 'categor' in request.resolver_match.url_name %} active {% endif %}">
        <i class='bx bx-grid-alt nav_icon'></i>
        <span class="nav_name">Категории</span>
    </a>
    <a href="{% url 'admin_staff:products' 1 %}" class="nav_link {% if 'product' in request.resolver_match.url_name %} active {% endif %}">
        <i class='bx bx-folder nav_icon'></i>
        <span class="nav_name">Продукты</span>
    </a>
</div>
