{% if basket %}
    <div class="row" style="justify-content:center">
        <div class="basket_list">
            <table class="table table-bordered table-hover text-center">
                <caption>
                    {% with object_summary = basket.0.get_summary %}
                        В корзине {{ basket.total_amount }} товаров общей стоимостью
                        {{ basket.total_price }} руб
                    {% endwith %}
                </caption>
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Img</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Total</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for item in basket %}
                    <tr>
                        <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                        <td><img src="/media/{{ item.product.image|default:'img/default.jpg' }}"
                                 alt="{{ item.product.short_desc }}" class="img-fluid" style="width: 50%"></td>
                        <td class="align-middle">{{ item.product.category.name }}</td>
                        <td class="align-middle">{{ item.product.name }}</td>
                        <td class="align-middle">{{ item.product.price }}&nbspруб</td>
                        <td class="align-middle"><input type="number" name="{{ item.pk }}" min="0"
                                                        value="{{ item.quantity }}"></td>
                        <td class="align-middle">{{ item.position_price }}&nbspруб</td>
                        <td class="align-middle">

                            <a href="{% url 'basket:remove' item.pk %}" class="btn btn-outline-danger">
                                Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div style="justify-content:center; align-self:center" class="alert alert-danger d-flex" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div style="margin-left: 30px">
            Ваша корзина сейчас пуста, обязательно закажите что-нибудь!
        </div>
    </div>
{% endif %}