{% load static %}
<div class="related">
    <div class="title clearfix">
        <h2>Похожие продукты</h2>
        <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt="img"></a>
    </div>
    <div class="related-products clearfix">
        {% for product in products %}
            <div class="block">
                <a href="{% url 'products:details' product.id %}">
                    <img src="/media/{{ product.image|default:'img/default.jpg' }}" alt="{{ product.name }}">
                    <div class="text">
                        <img src="{% static 'img/icon-hover.png' %}" alt="img">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.short_desc }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>